@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-background: #FAFAFA;
  --color-foreground: #1A1A1A;
  
  --color-muted: #F4F4F5;
  --color-muted-foreground: #71717A;
  
  --color-accent: #000000;
  --color-accent-foreground: #FFFFFF;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (min-width: 1280px) {
    max-width: none;
  }
  @media (min-width: 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  *, ::before, ::after {
    border-color: var(--color-muted);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: var(--color-accent);
    color: var(--color-accent-foreground);
  }
}
